<!--
  Generated template for the VirtualscrollPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<!-- <ion-content>
  <div style="padding-bottom: 20px;padding-top: 50px;padding-right: 20px;padding-left: 20px;">
    <div style="width:100%;height: 50%;">

      <ion-card *ngFor ="let sub of sublists">
        
        <ion-option (click) ="selected(sub.ID)">
          <p style="padding: 10px;">{{sub.Roll}}</p>
        </ion-option>
      </ion-card>

    </div>
  </div>
</ion-content> -->




<ion-content  class="main-view">
  <div style="padding-bottom: 20px;padding-top: 50px;padding-right: 20px;padding-left: 20px;">
    <div style="width:100%;height: 50%;">
    <div style="background:#fffffd; border:2px solid lightgray; padding: 20px 20px 30px 20px; font-family:Arial, Helvetica, sans-serif; text-align:center;">
     
      <ion-card *ngFor ="let sub of sublists">
        
        <ion-option (click) ="selected(sub.ID)">
          <p style="padding: 10px;">{{sub.Roll}}</p>
        </ion-option>
      </ion-card>
      
    </div>
    </div>
  </div>
</ion-content>