page-forgot-password {

    .login-content {
        background: #ffff;
    
       
        .box{
          text-align:center;
          width:100%;
          padding: 20px;
        }
        
        .inner-box{
         padding: 20px 20px 20px 20px;
        }

        .heading{
          font-size:20px;
           margin-top:20px;
           margin-bottom: 20px;
          color:#4D8339;

        }
         ion-item {
             border-radius: 8px ;
             
             font-size: 0.9em;
             margin-bottom: 20px;
            
             border: 1px solid #adacac;
            
         }
         .squre{
          background: #FBFBE3;border-radius: 5px;
           padding:15px;
          margin-top: 25px;
          float: left;
          width: 100%;
          font-size: 11px;
          border:1px solid rgb(182, 182, 154);
        
        }
        
         .forgot{
            float: right;
            text-decoration: underline;
            font-size: 16px;
            // margin-top: 20px;
            padding: 10px 0px 20px 0px;
            color:rgb(109, 121, 129);
          }
     
         .submit-btn {
           
           background: #12AC6C;
           border-radius: 5px !important;
            font-size: 18px;
           text-transform: none;
           width: 50%;
           font-weight: 400;
          // padding: 20px  20px  20px  20px;
         }


         .fb-btn {
            background: #1E448B;
             border-radius: 20px !important;
            //  font-size: 20px;
             text-transform: none;
             font-weight: 400;
            // padding: 25px 25px 25px 25px;
           //  border: 1px solid #ffffff;
          }

          .btn-next{
            // margin-left: 70px;
            // margin-right: 70px;
            

            text-align: center;
           // width: 70%;
           
          }
          .register-btn{
            font-size: 16px;
          text-transform: none;
          margin-top: 20px;
          font-weight: bold;
          }
          .large{
            font-size:60px;
          }
          .text-input-md {
           margin:0px;
           font-size: 16px;
            text-align: center;
        }

        .btn-color{
          background: #FF6666;
        }
        }
       
}
ion-input, ion-select, ion-textarea {
  background-color: #fff;

}

.invalid {
  border: 1px solid #A153EA;
}
.toolbar-md {
  padding: 0px; 
  margin-bottom: 0px;
}
