<ion-header>

  <ion-navbar hideBackButton>
    <!-- <nav>
      <img class="logo left" src="assets/imgs/logo-icon-rev.png" />
      <h1 class="slogan left">hoteljobber.com</h1>
    </nav> -->
    <img style="width:100%;padding: 20px;" src="assets/imgs/Logo-android-2019-header-apps.svg" />
  </ion-navbar>
</ion-header>

<ion-content class="login-content">

  <div class="box">

    <div class="inner-box squre">
      <!-- <i class="fa fa-black-tie  large"></i>-->
      <div style=" margin-top:20px;">

        <form [formGroup]="login_form">

          <div *ngIf="uerFlag"  >
            <h1 class="heading"> Reset Your Password </h1>
            <h5 style="font-size: 12px;color: #ae3c29;"> Please fill in your registered Mobile Number below </h5>
            <ion-item style="font-size:20px">
              <ion-input type="text" #refName formControlName="emailORmobile" class=“form-control” placeholder="Mobile Number"
                name="emailORmobile">
              </ion-input>
            </ion-item>

            <div class="btn-next">
              <button ion-button [disabled]="!login_form.valid" class="submit-btn" (click)="sendOTP()"> Send OTP</button>
            </div>
          </div>

          <div *ngIf="otpFlag">
            <h5 class="heading"> Please check your Mail Inbox for One Time Password <span>(OTP)</span> </h5>
            <ion-item>

              <ion-input style="font-size:20px" type="text" formControlName="otp" placeholder="Enter OTP" name="otp"></ion-input>
            </ion-item>


            <div class="btn-next">
              <button ion-button class="submit-btn" (click)="verify()"> Submit</button>

            </div>
            <h5 style="font-size: 12px;color: #4e4a49;">If you have not received OTP please click below </h5>

            <div class="btn-next">
              <button ion-button class="submit-btn btn-color" (click)="sendOTP()"> Resend OTP</button>

            </div>
          </div>



          <div *ngIf="newFlag">

              <h1 class="heading">
                  Reset Password</h1>



            <h6 style="padding-top:20px"> New Password </h6>
            <ion-item>

              <ion-input style="font-size:20px" type="password" formControlName="password" placeholder="New Password"
                name="password"></ion-input>
            </ion-item>

            <div *ngIf=" (login_form.controls['password'].dirty  && (!login_form.controls.password.valid ))" class="validation">
              Minimum Password Length 6.
            </div>


            <h6> Confirm Password </h6>
            <ion-item>

              <ion-input style="font-size:20px" type="password" formControlName="c_password" placeholder="Confirm Password"
                name="c_password"></ion-input>
            </ion-item>
            <div *ngIf=" (login_form.controls['c_password'].dirty  && (!login_form.controls.c_password.valid ))" class="validation">
              Minimum Password Length 6.
            </div>



            <div class="btn-next">
              <button ion-button [disabled]="!login_form.valid" class="submit-btn " style="width:auto" (click)="changePassword()">Change
                Password</button>

            </div>

          </div>




        </form>
      </div>
    </div>
  </div>

</ion-content>
