<ion-header>
  <ion-navbar>

    <button  class="menu-btn" item-start ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <span>
      <img class="logo" src="assets/imgs/apps-header-logo.svg">
    </span>

    <ion-buttons end style="margin-right: 20px;">
      <button ion-button (click)="showNotification()">
        <img class="notification-icon" src="assets/imgs/notification.svg">
        <ion-badge  *ngIf="empProvider.totalNotification>0" class="top-right" id="notifications-badge" color="danger">{{empProvider.totalNotification}}</ion-badge>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>

  <div  class="fix-content"  slot="fixed" ion-fixed>
    <div class="box">

      <div style="width:100%;overflow: hidden;margin-bottom: 5px">
        <div class="main-header" style="padding: 8px 0px 0px 5px;font-size: 18px;font-weight: 500;">{{list_label}} <span *ngIf="Contact!=undefined">({{Contact}})</span></div>

        <!-- <img  start src="assets/imgs/bulb.png"> -->

        <div *ngIf="likes ;else else_all" class="align-right-item">
          <img class="mylikes" (click)="myLikes('all')" src="assets/imgs/icon-back-to-calls-d.svg">
          <img class="mylikes" src="assets/imgs/icon-my-likes.svg">

        </div>

        <ng-template #else_all>
          <div class="align-right-item">
            <img class="mylikes" src="assets/imgs/icon-back-to-calls.svg">
            <img class="mylikes" (click)="myLikes('likes')" src="assets/imgs/icon-my-likes-d.svg">
          </div>
        </ng-template>
      </div>

      <div>
          <ion-item class="input-search half">
              <select-searchable style="text-align:center;"
                                 title="{{titleSearch}}"
                                 [(ngModel)]="selectedRoll"
                                 [items]="itemsRollList"
                                 itemValueField="RoleID"
                                 itemTextField="Roll"
                                 [canSearch]="true"
                                 (onChange)="portChangeRoll($event)">
              </select-searchable>
          </ion-item>

            <ion-item class="input-search half">
              <select-searchable style="text-align:center;"
                                 title="{{titleCity}}"
                                 [(ngModel)]="optionTitle"
                                 searchPlaceholder="Type City Name.."
                                 itemValueField="optionId"
                                 itemTextField="optionTitle"
                                 [items]="ports"
                                 [canSearch]="true"
                                 (onChange)="portSelectCity($event)"
                                 (onSearch)="searchPorts($event)">
              </select-searchable>

            </ion-item>
      </div>



    </div>
  </div>
    <div class="cand-list">
      <!---->

      <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown"
                               pullingText="Pull to refresh"
                               refreshingSpinner="circles"
                               refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
      <!---->
     <div *ngIf="items.length">
        <div class="box-white candidate" [class.border-shortlisted]="item.shortList" *ngFor="let item of items; let i = index">
          <ion-list class="tabList">
            <ion-item-sliding #slidingItem>
              <ion-item class="first-child">
                <!--Slide border-->
                <!-- Ready to short-->
                <div style="float: right" *ngIf="item.shortList == undefined">
                  <img style="color:#F1C14D; height:20px; position:absolute; top:40%;" src="assets/imgs/slide-arrow.png" />
                </div>
                <!--Shorted-->
                <div style="float: right" *ngIf="item.shortList">
                  <img style="color:green; height:20px; position:absolute; top:40%;" src="assets/imgs/slide-arrow-green.png" />
                </div>
                <ion-grid no-padding no-border>
          <ion-row no-padding sm>
            <ion-col col-8>
              <ion-item no-border no-padding (click)="goToCandidateDetail(item, i)">
                <!--Candidate image-->
                <ion-avatar item-start no-padding>
                  <img  *ngIf="item.Image" style="border: 2px solid #DEDEDD;" src="https://hoteljobber.com/user_image/{{item.Image}}" />
                  <img  *ngIf="!item.Image"  src="assets/imgs/icon-footer-candidates.svg" />
                </ion-avatar>
                <!--Active Bulb-->
                <span *ngIf="item.Active_status==1">
                  <img start style="width:14px" src="assets/imgs/icon-sbulb-on.svg" />
                </span>
                <span *ngIf="item.Active_status==0">
                  <img start style="width:14px" src="assets/imgs/icon-sbulb-off.svg" />
                </span>
                <!--Name-->
                <h2 style="display: inline;" class="candi-name">
                  {{ item?.FirstName }} {{ item?.LastName }}
                </h2>
                <!--Roll-->
                <div style="overflow: hidden">
                  <span class="candidate-data"> {{item.Roll }} </span>
                </div>
              </ion-item>
              <!--Salary-->
              <div *ngIf="item.MinSalary">
                <span class="headers"> Salary Exp:</span>
                <span style="color:#11AD6E; font-size: 12px">
               {{ item.MinSalary | currency:'INR':true:'1.0-0'}}-{{(parsCurrency(item?.MaxSalary))? item.MaxSalary: parsCurrency(item.MinSalary)+5000 | currency:'INR':true:'1.0-0'}}
              </span>
              </div>
              <!--From with flag-->
              <div style="padding-top:2px; font-size: 12px" *ngIf="item?.City">
                <span style="color:black; font-weight: bold;">From:</span>
                <span class="city" *ngIf="item.city!=''">{{ item.City }} - {{ item.Country }}    <i style="width: 14px" class="flag-icon flag-icon-{{item?.CountryFlag.toLowerCase()}}"></i> </span>
              </div>
              <!--Preferred location-->
              <div style="padding-top:4px; margin-bottom: 6px">
              <span>
                 <span style="font-size: 11px;color:#D9475C;">Preferred work location</span>
                 <!--<span *ngIf="preLocation" style="font-weight: bold; font-size: 12px;display: block; padding: 5px 1px;">
                   {{selectedLocation}}
                 </span>-->
                 <span  style="font-weight: bold; font-size: 12px; display: block; padding: 1px 1px;">
                   {{item.City}} - {{ item.Country }}
                 </span>
              </span>
              </div>
              <!--Experience and Age-->
              <div class="ageExEdu">
                <div class="squre">
                  <img  width="20px"  start src="assets/imgs/icon-s-exp.svg">
                  <label *ngIf="item.Experience > 0; else frshr">Exp {{item.Experience}} yrs</label>
                  <ng-template #frshr>
                    <label>Exp Fresher</label>
                  </ng-template>
                </div>

                <div class="squre">
                  <img width="20px" style="padding-left: 5px" start src="assets/imgs/icon-s-cake.svg">
                  <label>Age {{ item.Age }}</label>
                </div>

                <div class="squre">
                  <img width="20px" style="margin-top: 2px;" start src="assets/imgs/icon-edu.svg">
                  <label>{{ item.Education }}</label>
                </div>
              </div>

            </ion-col>
            <ion-col col-4 style="padding-right: 2px;">
              <!--Time-->
              <div *ngIf="item?.MyLabel" style="float: right;font-size:10px; color:#7E7B7B;font-style: italic;white-space: nowrap;">
                <ion-icon icon-only name="time" small></ion-icon>  {{item?.MyLabel}} -
                <span>{{item?.Last_Update | amTimeAgo }}</span>
              </div>
              <!--Call and MSG-->
              <i style="width: 14px; top: 22px; position: absolute;right: 102px;" *ngIf="item.ShowMobile==true" class="flag-icon flag-icon-{{item.CountryFlag.toLowerCase()}}"></i>
              <div style="display: inline" *ngIf="item.ShowMobile==true">
                <div class="contact">
                <div (click)="callJoint(item.Mobile)" class="show-contact">
                  <img style="width:15px;margin: 3px 3px 0px 0px;" src="assets/imgs/icon-call1.svg" /><span style="line-height: 22px;font-size: 12px;text-align: center; float: right;">
                {{item.Mobile}}</span>
                </div>
                <!--SMSSend-->
                <div class="sendSMS">
                  <!--Whats app-->
                  <a style="display: block;color: #11AD6E;" [href]="getWtsApp(item.Mobile)"><img  src="assets/imgs/wtsApp.png"  class="btn-pink2 wtsApp"></a>
                  <img start *ngIf='!item.SmsSend else SmsSend' class="wtsApp" src="./assets/imgs/smsApp.png" (click)="sendMsg(i)" />
                  <ng-template #SmsSend>
                    <img start style="width:75px ;margin-top: 5px"  src="./assets/imgs/sent-sms.png" />
                  </ng-template>
                </div>

                <div class="optionsLD">

                  <img *ngIf="item?.AlowReport ; else reported_icon" (click)="addReport($event,item,i)" src="assets/imgs/icon-report.svg" >
                  <ng-template #reported_icon>
                    <img src="assets/imgs/icon-reported.svg">
                  </ng-template>

                  <img *ngIf="item?.status=='none'" start  src="assets/imgs/icon-dislike-d.svg" (click)="myLikesDislikes($event,item,'no',i)" />
                  <img *ngIf="item?.status=='none'" start  src="assets/imgs/icon-like-d.svg" (click)="myLikesDislikes($event,item,'yes',i)" />

                  <img *ngIf="item?.status=='yes';else dislikes " start  src="assets/imgs/icon-dislike-d.svg" (click)="myLikesDislikes($event,item,'no',i)" />

                  <ng-template #dislikes>
                    <img *ngIf="item?.status!='none';" start  src="assets/imgs/icon-dislike-a.svg" />
                  </ng-template>

                  <img *ngIf="item?.status=='no' ;else likes " start  src="assets/imgs/icon-like-d.svg" (click)="myLikesDislikes($event,item,'yes',i)" />

                  <ng-template #likes>
                    <img start *ngIf="item?.status!='none';"  src="assets/imgs/icon-like-a.svg" />
                  </ng-template>
                 <!-- <span *ngIf="item?.shortlist">
                   <img  src="/assets/imgs/menu-shortlisted.png" />
                  </span>-->
                </div>
              </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
              </ion-item>
              <ion-item-options>
                <button *ngIf="!item.shortList" (click)="closeSwipe(slidingItem, item, i)" style="color: black;background-color: #F0C14D;">
                 <ion-icon name="star" style="color: white;display: block;margin-bottom: 4px;"></ion-icon> Shortlist
               </button>

                <button *ngIf="item.shortList" (click)="onlyCloseSwipe(slidingItem)" style="color: white;background-color:#60B759;">
              <ion-icon name="checkmark" style="color: white;display: block;font-size: 2.2em;margin-bottom: 4px;"></ion-icon> Shortlisted
            </button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </div>
     </div>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
        </ion-infinite-scroll>
     </div>
      <div *ngIf="items.length == 0">
        <div class="no-data" *ngIf="(Plan_ID == 0)"  (click)="gotoPlans()">
          <img *ngIf="likes;  else no_like" src="assets/imgs/msg-likes-c.svg" />
          <ng-template #no_like>
            <img src="assets/imgs/msg-calls-c.svg" />
          </ng-template>
        </div>
      </div>

    <ion-footer ion-fixed class="foot">
      <ion-toolbar [class.HideScroll]="hideScroll">
        <button right (click)="ScrollToTop()" ion-fab mini end ><ion-icon icon-only small name="arrow-round-up"></ion-icon></button>
      </ion-toolbar>
    </ion-footer>
  </ion-content>
